

@media screen and (max-width: 600px){


    .parent9{

        width: 100%;
        height: 600px;
        background-position: center;
        justify-content: center;
    }
    .adam{

    justify-content: center;
    display: flex;

    }
    .overlay{
        height: 600px;

    }
    .child{
             justify-content: center;
             position: absolute;
             top: 250px;
             left: 0px;
    }
    .text6 h4{
        text-align: center;
        font-size: 15px;

    }
    .text6 h2{
        text-align: center;
        font-size: 25px;
    }
    .parent10{
        flex-direction: column;
    }
    .child2 img{
        
        object-fit: contain;
        display: content;
        height: 200px;
        width: 400px;
        display: block;

        
      
    }

    html body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        
        
        overflow-x: hidden;
    }
    .child3{
        text-align: center;
    }
    .child3 p{
        text-align: center;
        font-size: 25px;
    }
    .parent11{
        flex-direction: column;
        gap: 0px;
        position: relative;
        left: 0px;
        bottom: 30px;
        font-size: 15px;
    }
    .button2 button{
        position: relative;
        top: 0px;
        left: 0px;
    }
    .button1 button{
        position: relative;
        top: 0px;
        left: 15px;
        margin-bottom: 5px;
    }
    


}
    
