@font-face {

    font-family: azim;
    src: url(./fonts1/ultras.ttf);
}

@font-face {

    font-family: urban;
    src: url(./fonts1/Urban\ Storm.ttf);
}

@font-face {

    font-family: bebas;
    src: url(./fonts1/BebasNeue-Regular.ttf);
}

@font-face {

    font-family: ms;
    src: url(./fonts1/ms.ttf);
}

@font-face {

    font-family: ms2;
    src: url(./fonts1/ms.ttf);
}

@font-face {

    font-family: badabb;
    src: url(./fonts1/BADABB__.TTF);
}

@font-face {

    font-family: storm;
    src: url(./fonts1/Storm\ Gust.ttf);
}

@font-face {

    font-family: rihan;
    src: url(./fonts1/bbbb.ttf);
}

@font-face {
    font-family: 'BEYNO Regular';
    font-style: normal;
    font-weight: normal;
    src: local('BEYNO Regular'), url('fonts1/BEYNO.woff') format('woff');
}

@font-face {
    font-family: 'BEYNO Regular2';
    font-style: normal;
    font-weight: normal;
    src: local('BEYNO Regular'), url('fonts1/Action\ of\ the\ Time\ New.ttf') format('woff');
}

@font-face {

    font-family: rihan3;
    src: url(./fonts1/aaaa.ttf);
}

@font-face {

    font-family: Doctor;
    src: url(./fonts1/Doctor\ Glitch.ttf);
}

@font-face {

    font-family: lato;
    src: url(./fonts1/Lato-Italic.ttf);
}

@font-face {

    font-family: go;
    src: url(./fonts1/go3v2.ttf);
}

    body{
        max-width:100%;
        /* height: 100%; */
        margin: 0;
        padding: 0;

        
        
        overflow-x: hidden;
    }
        /* *{
            margin: 0%;
            padding: 0%;
            box-sizing: border-box;
        } */

        .banner{
            width: 100%;
        }






.parent9 {


 

    background-image: url(imge/bg.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 600px;
    width: 100%;
    
    object-fit: cover;






}

.parent9 {
    justify-content: center;
    position: relative;


}

.adam {

    place-items: center;
    position: absolute;
    border: solid gray;
    border-radius: 100%;
    object-fit: cover;
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;










}

.overlay {


    background-color: rgba(0, 0, 0, 0.45);
    height: 600px;
    width: 100%;
    display: flex;

    justify-content: center;

    align-items: center;
    position: absolute;
    top: 0px;


}

/* .text { */
color: rgb(141, 7, 7);} 



.relative {
    position: relative;


}

.child {

    position: relative;

    height: 400px;
    width: 400px;
    display: flex;
    top: 350px;
    justify-content: center;



}



.text2 {

    font-family: BEYNO Regular2;
    margin-left: 48px;
}

.text5 {

    font-family: BEYNO Regular;
    margin-left: 54px;
}



.parent10 {
    display: flex;
    gap: 70px;
    width: 100%;
    flex-flow: wrap;
    /* position: relative; */


}


.child2 img {
    height: 400px;
    width: 300px;
    padding-left: 5px;
    /* margin-left: 50px; */
}

.parent11 {

    display: flex;
    gap: 50px;
    /* position: relative; */
    /* bottom: 200px; */
    /* left: 400px; */
    /* width: 100%; */
    justify-content: center;
    /* place-items: center; */
    /* text-align: center; */
    /* position: relative; */
    /* bottom: 190px; */
    /* margin-left: 150px; */
    margin-bottom: 5px;

    
    

}
.child3{
    padding: 10px;
}




.child3 h3 {

    font-family: rihan;
    letter-spacing: 5px;


}

.child3 h2 {


    font-family: Doctor;

}

.child3 p{


    font-family: lato;
    font-size: 15px;
    -webkit-text-stroke: #000000;
    text-align: justify;
    padding: 5px;
    
    /* text-align: left; */
    /* position: relative; */
    /* right: 80px; */
    




}
.about-me{

    margin-bottom: 55px;
}





.button-parent {

    display: flex;
    gap: 160px;
    position: relative; 
    align-items: end;
    /* position: relative; */
    /* top: 25px; */
    /* right: 400px; */
    margin-bottom: 10px;
    right: 150px;
    
  
    






}

.button1 button {

    border: solid black;

    border-radius: 30em;
    background-color: none;
    color: rgb(0, 0, 0);
    height: 50px;
    width: 100px;
    position: absolute;
    /* bottom: 140px; */
    /* right: 60px; */
    

    /* left: 60px; */
    margin-right: 250px;
    font-family: BEYNO Regular;
    font-size: 14px;
    





}

.button1 :hover {
    background-color: black;
    overflow: hidden;
    color: white;



}

.button2 button {

    border: solid black;
    display: inline;
    border-radius: 30em;
    background-color: none;
    color: rgb(0, 0, 0);
    height: 50px;
    width: 100px;
    position: absolute;
    /* bottom: 140px; */
    /* right: 400px; */
    font-family: BEYNO Regular;
    font-size: 10px;


}

.button2 :hover {
    background-color: black;
    color: white;

}
.banner1 video{
    
    /* background-image: url(imge/img/demon-slayer-icegif-12.gif); */
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    background-size: cover;
    object-fit: cover;
    display: flex;







}
.parent-progess-bar {

    display: flex;
    position: relative;
}

.overlay50 {
    position: absolute;

    background-color: rgba(0, 0, 0, 0.45);
    height: 500px;
    width: 100%;

    /* display: flex; */
    background-size: cover;

}
.Doctor{
flex-flow: wrap;
}

.overlay50 pre {

    color: white;
    font-family: lato;
    font-size: 25px;
    text-align: left;
    position: relative;
    right: 93px;


}



.overlay50 h2 {
    color: #ffffff;
    font-family: Doctor;
    margin-left: 35px;
    -webkit-text-stroke: red 1px;
    font-size: 45px;
}

.overlay50 h3 {
    font-family: rihan;
    letter-spacing: 15px;
    color: rgb(191, 255, 0);
    -webkit-text-stroke: yellowgreen;
    margin-left: 45px;
    position: relative;
    top: 30px;


}
.overlay50{
    /* position: relative; */
    /* left: 750px; */
    /* bottom: 300px; */
    /* display: flex; */
}

.progess-bar-parent span{
    /* float: right; */
    font-family: lato;
    color: #ffffff;
    word-spacing: 210px;
}
.progess-bar-parent {
    /* display: flex; */
    position: absolute;
    /* margin-top: 150px;
     */
     /* top: 150px; */
    /* margin-left:  680px; */

    left: 60%;
    top: 35%;
    transform: (-50% -50%);
}
.parrent3 {
    /* background-color: rgb(255, 0, 0); */
    background-color: rgb(255, 0, 0);
    height: 5px;
    width: 90%;
    border-radius: 15em;
    
    position: absolute;
    /* bottom: 207px; */
    /* left: 700px; */              
    
   

}

.parrent3child {
    background-color: rgb(255, 255, 255);
    height: 5px;
    width: 100%;
    border-radius: 15em;
    /* position: absolute; */
    /* display: flex; */

   


}

.parrent4 {
    /* background-color: rgb(255, 0, 0); */
    background-color: rgb(255, 0, 0);
    height: 5px;
    width: 80%;
    border-radius: 15em;
    
    position: absolute;
    /* bottom: 207px; */
    /* left: 700px; */
    
   

}

.parrent4child {
    background-color: rgb(255, 255, 255);
    height: 5px;
    width: 100%;
    border-radius: 15em;
    /* position: absolute; */
    /* display: flex; */

   


}
.parrent5 {
    /* background-color: rgb(255, 0, 0); */
    background-color: rgb(255, 0, 0);
    height: 5px;
    width: 95%;
    border-radius: 15em;
    
    position: absolute;
    /* bottom: 207px; */
    /* left: 700px; */
    
   

}

.parrent5child {
    background-color: rgb(255, 255, 255);
    height: 5px;
    width: 100%;
    border-radius: 15em;
    /* position: absolute; */
    /* display: flex; */

   


}
.parrent6 {
    /* background-color: rgb(255, 0, 0); */
    background-color: rgb(255, 0, 0);
    height: 5px;
    width: 85%;
    border-radius: 15em;
    
    position: absolute;
    /* bottom: 207px; */
    /* left: 700px; */
    
   

}

.parrent6child {
    background-color: rgb(255, 255, 255);
    height: 5px;
    width: 100%;
    border-radius: 15em;
    /* position: absolute; */
    /* display: flex; */

   


}















.heading2 {


    font-family: Doctor;
    font-size: 25px;
    margin-left: 10px;
    -webkit-text-stroke: #000000 1px;
    background: linear-gradient(rgb(36, 12, 253), rgb(255, 0, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-left: 48px;
}

.overlay-container{

    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    gap: 60px;
    justify-content: center;
    
    /* margin-left: 70px; */
    /* margin-right: 70px; */
    /* place-items: center; */

    

    
    
}
.banner3{
    padding: 20px;
}

.child-img img{
    /* text-align: center; */
    height: 96px;
    width: 96px;
    
}
.child-img{
    border: 1px solid rgb(236, 2, 2) ;

}
.child-img P{
    font-size: 24px;
    font-family: lato;
    padding: 2px;
    text-align: center;

    

}
.child-img h3{
    font-family: BEYNO Regular;
    font-size: 20px;

}
.overlay-container2{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    width: 100%;
    gap: 60px;


}

/* .overlay-contenar {
    width: 100%;
    position: relative;

}

.overlay15 {

    border: solid whitesmoke;
    height: 400px;
    width: 200px;
    font-size: 25px;
    overflow: hidden;
    object-fit: cover;
    text-align: center;
    font-family: lato;
    position: absolute;
    top: 40px;
    left: 100px;






}

.overlay15 h3 {

    position: absolute;
    top: 20%;
    left: 15px;
    font-family: BEYNO Regular;
}

.overlay16 pre {

    position: absolute;
    text-align: center;
    overflow: hidden;

}

.overlay17 {

    border: solid whitesmoke;
    height: 400px;
    width: 200px;
    font-size: 25px;
    overflow: hidden;
    object-fit: cover;
    text-align: center;
    font-family: lato;
    position: absolute;
    top: 40px;
    left: 475px;

}

.overlay17 h3 {

    position: absolute;
    top: 20%;
    left: 9%;
    font-family: BEYNO Regular;
}

.overlay18 p {

    position: absolute;
    text-align: center;
    overflow: hidden;

}

.overlay19 {

    border: solid whitesmoke;
    height: 400px;
    width: 200px;
    font-size: 25px;
    overflow: hidden;
    object-fit: cover;
    text-align: center;
    font-family: lato;
    position: absolute;
    top: 40px;
    left: 850px;

}

.overlay19 h3 {

    position: absolute;
    top: 20%;
    left: 5%;
    font-family: BEYNO Regular;
    font-size: 25px;
}

.overlay20 p {

    position: absolute;
    text-align: center;
    overflow: hidden;

}

.overlay21 {

    border: solid whitesmoke;
    height: 400px;
    width: 200px;
    font-size: 25px;
    overflow: hidden;
    object-fit: cover;
    text-align: center;
    font-family: lato;
    position: absolute;
    top: 520px;
    left: 100px;

}

.overlay21 h3 {

    position: absolute;
    top: 20%;
    left: 5%;
    font-family: BEYNO Regular;
    font-size: 25px;
}

.overlay22 p {

    position: absolute;
    text-align: center;
    overflow: hidden;

}

.overlay23 {

    border: solid whitesmoke;
    height: 400px;
    width: 200px;
    font-size: 25px;
    overflow: hidden;
    object-fit: cover;
    text-align: center;
    font-family: lato;
    position: absolute;
    top: 520px;
    left: 475px;

}

.overlay23 h3 {

    position: absolute;
    top: 20%;
    left: 5%;
    font-family: BEYNO Regular;
    font-size: 25px;
}

.overlay24 p {

    position: absolute;
    text-align: center;
    overflow: hidden;

}

.overlay25 {

    border: solid whitesmoke;
    height: 400px;
    width: 200px;
    font-size: 25px;
    overflow: hidden;
    object-fit: cover;
    text-align: center;
    font-family: lato;
    position: absolute;
    top: 520px;
    left: 850px;

}

.overlay25 h3 {

    position: absolute;
    top: 20%;
    left: 5%;
    font-family: BEYNO Regular;
    font-size: 25px;
}

.overlay26 p {

    position: absolute;
    text-align: center;
    overflow: hidden;

}

.banner4 {


    background-color: rgba(103, 102, 102, 0.45);
    height: 600px;
    width: 100%;
    display: flex;
    position: relative;
    top: 1150px;
    flex-flow: wrap;
}

.overlay27 {
    position: absolute;
    top: 198px;
    height: 300px;
    width: 60px;
    display: flex;
    left: 50px;



}
 */


 .banner4 {


    /* background-color: rgba(103, 102, 102, 0.45); */
    /* height: 600px; */
    /* width: 100%; */
    /* display: flex; */
    /* position: relative; */
    /* justify-content: space-around; */
    /* place-items: center; */
    /* margin-top: 35px; */
    /* padding-top: 50px; */
    /* padding-bottom: 150px; */
    /* gap: 150px; */
}
.parent-img{
    display: flex;
    justify-content: space-around;
    /* gap: 150px; */
    position: relative;
    background-color: gray;
    padding-top: 200px;
    padding-bottom: 150px;
    flex-flow: wrap;
}
.parent-img1{
    position: relative;
}
.parent-img2{
    position: relative;
}
.parent-img3{
    position: relative;
}


.overlay27 img{
    /* position: absolute; */
    /* top: 148px; */
    /* left: 63px; */
    /* top: 198px; */
    height: 300px;
    width: 300px;
    /* display: flex; */
    /* left: 50px; */



}
.banner4{
    position: relative;
}
 
.banner4 h5 {

    font-family: rihan;
    position: absolute;
    top: 15px;
    left: 48px;
    font-size: 25px;
    letter-spacing: 6px;
}

.banner4 h2 {

    font-family: Doctor;
    position: absolute;
    top: 65px;
    left: 48px;
    font-size: 40px;
}


.imgtext1 {

    position: absolute;
    top: 0;
    /* right: ;: px; */
    
    color: rgb(255, 0, 0);
    font-family: storm;
    background-color: rgba(0, 0, 0, 0.85);
    height: 300px;
    width: 300px;
    /* text-align: center; */
    /* justify-content: center; */


    opacity: 0;
    transition: 1s ease;


}

.imgtext1:hover {
    opacity: 1;
}

.imgtext1 h4 {
    position: absolute;
    top: 80px;
    left: 29px;
    font-size: 25px;
    word-spacing: 5px;
}

.imgtext1 h3 {
    position: absolute;
    top: 20px;
    left: 95px;
    font-size: 30px;

}

.overlay28 img {
    /* position: absolute; */
    /* position: absolute; */
    /* top: 148px; */
    /* left: 490px; */
    /* top: 198px; */
    /* left: 475px; */
    height: 300px;
    width: 300px;

}

.imgtext2 {

    position: absolute;
    top: 0;
    /* left: 490px; */
    color: rgb(255, 0, 0);
    font-family: storm;
    background-color: rgba(0, 0, 0, 0.85);
    height: 300px;
    width: 300px;
    text-align: center;
    justify-content: center;
    opacity: 0;
    transition: 1s ease;
}

.imgtext2:hover {
    opacity: 1;

}

.imgtext2 h4 {
    position: absolute;
    top: 80px;
    left: 70px;
    font-size: 25px;
    word-spacing: 5px;

}

.imgtext2 h3 {
    position: absolute;
    top: 20px;
    left: 95px;
    font-size: 30px;

}

.overlay29 img {
    /* position: absolute; */
    /* top: 148px; */
    /* left: 917px; */
    /* top: 198px; */
    /* left: 900px; */
    height: 300px;
    width: 300px;
}

.imgtext3 {

    position: absolute;
    top: 0;
    /* right:40px; */
    color: rgb(255, 0, 0);
    font-family: storm;
    background-color: rgba(0, 0, 0, 0.85);
    height: 300px;
    width: 300px;
    text-align: center;
    /* justify-content: center; */
    opacity: 0;
    transition: 1s ease;
}

.imgtext3:hover {
    opacity: 1;

}

.imgtext3 h4 {
    position: absolute;
    top: 80px;
    left: 85px;
    font-size: 25px;
    word-spacing: 5px;

}

.imgtext3 h3 {
    position: absolute;
    top: 20px;
    left: 59px;
    font-size: 30px;
}






.banner5 {

    position: relative;
    width: 100%;
    
}


.heading3 h4 {
    /* position: absolute; */
    /* bottom:380px; */
    /* left: 48px; */
    font-family: rihan;
    font-size: 25px;
    letter-spacing: 8px;
    margin-left: 48px;


}

.heading3 h2 {
    font-family: Doctor;
    /* position: absolute; */
    /* bottom: 350px; */
    /* left: 45px; */
    font-size: 25px;
    margin-left: 48px;

}
.parent-hover{
    display: flex;
    justify-content: space-around;
    /* justify-content: center; */
    /* gap: 150px; */
    margin-bottom: 45px;
    flex-flow: wrap;
    position: relative;
    /* position: relative; */
    
}
.parent-hover1{
    position: relative;
}
.parent-hover2{
    position: relative;
}
.parent-hover3{
    position: relative;
}
.parent-hover4{
    position: relative;
}
.parent-hover5{
    position: relative;
}
.parent-hover6{
    position: relative;
}
.imgtext4 {

    position: absolute;
    top: 0px;
    /* left: 50px; */
    color: rgb(255, 255, 255);
    font-family: badabb;
    background-color: rgba(0, 0, 0, 0.95);
    height: 300px;
    width: 300px;
    text-align: center;
    justify-content: center;
    opacity: 0;
    transition: 1s ease;
}

.imgtext4:hover {
    opacity: 1;
}
.img5 img {

    /* position: absolute; */
    /* top: 1350px; */
    /* left: 50px; */
    height: 300px;
    width: 300px;
}

.imgtext4 h5 {
    position: absolute;
    top: 80px;
    left: 85px;
    font-size: 25px;
    word-spacing: 5px;
    position: absolute;
    top: 90px;
    left: 52px;
    font-family: rihan;
    font-size: 15px;
    letter-spacing: 8px;
    color: yellowgreen;
}


.imgtext4 h3 {
    position: absolute;
    top: 10px;
    left: 90px;
    font-size: 45px;
    background: linear-gradient(to right, yellow, red);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.img6 img {

    /* position: absolute; */
    /* top: 1350px; */
    /* left: 480px; */
    height: 300px;
    width: 300px;
}


.imgtext5 {

    position: absolute;
    top:0px;
    /* left: 480px; */
    color: rgb(255, 255, 255);
    font-family: badabb;
    background-color: rgba(0, 0, 0, 0.95);
    height: 300px;
    width: 300px;
    text-align: center;
    /* justify-content: center; */
    opacity: 0;
    transition: 1s ease;
}


.imgtext5:hover {
    opacity: 1;
}

.imgtext5 h5 {
    position: absolute;
    top: 80px;
    left: 85px;
    font-size: 25px;
    word-spacing: 5px;
    position: absolute;
    top: 90px;
    left: 60px;
    font-family: rihan;
    font-size: 15px;
    letter-spacing: 8px;
    color: yellowgreen;
}

.imgtext5 h3 {
    position: absolute;
    top: 10px;
    left: 110px;
    font-size: 45px;
    background: linear-gradient(to right, yellow, red);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


.imgtext6 {

    position: absolute;
    top: 0px;
    /* left: 900px; */
    color: rgb(255, 255, 255);
    font-family: badabb;
    background-color: rgba(0, 0, 0, 0.95);
    height: 300px;
    width: 300px;
    text-align: center;
    /* justify-content: center; */
    opacity: 0;
    transition: 1s ease;
}

.imgtext6:hover {
    opacity: 1;
}

.imgtext6 h5 {
    position: absolute;
    top: 80px;
    left: 85px;
    font-size: 25px;
    word-spacing: 5px;
    position: absolute;
    top: 90px;
    left: 60px;
    font-family: rihan;
    font-size: 15px;
    letter-spacing: 8px;
    color: yellowgreen;
}

.imgtext6 h3 {
    position: absolute;
    top: 10px;
    left: 99px;
    font-size: 45px;
    background: linear-gradient(to right, yellow, red);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


.parent-hover2{
    display: flex;
    justify-content: space-around;
    /* justify-content: center; */
    /* gap: 150px; */
    position: relative;
    flex-flow: wrap;
    
}
.img8 img {

    /* position: absolute; */
    /* top: 1730px; */
    /* left: 50px; */
    height: 300px;
    width: 300px;
    rotate: 90deg;
}

.img7 img {

    /* position: absolute; */
    /* top: 1350px; */
    /* left: 900px; */
    height: 300px;
    width: 300px;
}

.imgtext7 {

    position: absolute;
    top: 0px;
    /* left: 50px; */
    color: rgb(255, 255, 255);
    font-family: badabb;
    background-color: rgba(0, 0, 0, 0.95);
    height: 300px;
    width: 300px;
    text-align: center;
    /* justify-content: center; */
    opacity: 0;
    transition: 1s ease;
}

.imgtext7:hover {
    opacity: 1;
}

.imgtext7 h5 {
    position: absolute;
    top: 80px;
    left: 85px;
    font-size: 25px;
    word-spacing: 5px;
    position: absolute;
    top: 90px;
    left: 50px;
    font-family: rihan;
    font-size: 15px;
    letter-spacing: 8px;
    color: yellowgreen;
}

.imgtext7 h3 {
    position: absolute;
    top: 10px;
    left: 110px;
    font-size: 45px;
    background: linear-gradient(to right, yellow, red);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.img9 img {

    /* position: absolute; */
    /* top: 1730px; */
    /* left: 480px; */
    height: 300px;
    width: 300px;
}

.imgtext8 {

    position: absolute;
    top: 0px;
    /* left: 480px; */
    color: rgb(255, 255, 255);
    font-family: badabb;
    background-color: rgba(0, 0, 0, 0.95);
    height: 300px;
    width: 300px;
    text-align: center;
    justify-content: center;
    opacity: 0;
    transition: 1s ease;
}

.imgtext8:hover {
    opacity: 1;
}

.imgtext8 h5 {
    position: absolute;
    top: 80px;
    left: 85px;
    font-size: 25px;
    word-spacing: 5px;
    position: absolute;
    top: 90px;
    left: 55px;
    font-family: rihan;
    font-size: 15px;
    letter-spacing: 8px;
    color: yellowgreen;
}

.imgtext8 h3 {
    position: absolute;
    top: 10px;
    left: 95px;
    font-size: 45px;
    background: linear-gradient(to right, yellow, red);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.img10 img {

    /* position: absolute; */
    /* top: 1730px; */
    /* left: 900px; */
    height: 300px;
    width: 300px;
}

.imgtext9 {

    position: absolute;
    top: 0px;
    /* left: 900px; */
    color: rgb(255, 255, 255);
    font-family: badabb;
    background-color: rgba(0, 0, 0, 0.95);
    height: 300px;
    width: 300px;
    text-align: center;
    /* justify-content: center; */
    opacity: 0;
    transition: 1s ease;
}

.imgtext9:hover {
    opacity: 1;
}

.imgtext9 h5 {
    position: absolute;
    top: 80px;
    left: 85px;
    font-size: 25px;
    word-spacing: 5px;
    position: absolute;
    top: 90px;
    left: 29px;
    font-family: rihan;
    font-size: 15px;
    letter-spacing: 8px;
    color: yellowgreen;
}

.imgtext9 h3 {
    position: absolute;
    top: 10px;
    left: 112px;
    font-size: 45px;
    background: linear-gradient(to right, yellow, red);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


.banner6 {

    /* background-color: rgba(103, 102, 102, 0.45); */
    height: auto;
    width: 100%;
    flex-flow: wrap;
/* margin-top: 250px; */


    position: relative;
    /* top: 2100px; */
    /* left: 0px; */
}

.heading5 h5 {
    position: absolute;
    top: 1px;
    left: 47px;
    font-family: rihan;
    font-size: 25px;
    letter-spacing: 19px;
    
}

.heading5 h2 {
    font-family: Doctor;
    position: absolute;
    top: 50px;
    left: 47px;

    font-size: 25px;
}



/* */ .papprets-div {
    display: flex;
    border: 2px solid black;
    /* height: 250px; */
    /* width: 25px; */
    /* justify-content: center; */
} */

.overlay3 {
    border: 2px solid rgb(0, 0, 0);
}

.parrent40 {
    display: flex;

    justify-content: space-around;
    overflow: hidden;
    /* position: relative; */
    /* top: 1500px; */
    gap: 5px;
    flex-flow: wrap;
    background-color: gray;
    padding-top: 150px;
    margin-bottom: 0px;
    

}

.overlay31 {

    border: 2px solid black;
    width: 260px;
    justify-content: center;
    overflow: hidden;
    height: 500px;
    background-color: white;





}

.overlay31 img {

    height: 250px;
    position: relative;
    right: 0px;
    transition: 1s ease;

}

.overlay31:hover img {

    transform: scale(1.1, 1.1);
}

.heading7 h5 {
    position: relative;
    bottom: 20px;
    left: 4px;

    font-family: rihan;
    font-size: 20px;
    letter-spacing: 5px;
}

.heading7 h3 {

    position: relative;
    bottom: 45px;
    left: 4px;
    font-family: go;

}

.heading7 span {

    position: relative;
    bottom: 45px;
    left: 4px;
    font-size: 25px;
    font-family: rihan;
    text-align: center;
    justify-content: center;
    font-size: 21px;
}

.overlay32 {

    border: 2px solid black;
    width: 260px;
    justify-content: center;
    overflow: hidden;
    height: 500px;
    background-color: white;





}

.overlay32 img {

    height: 260px;
    width: 260px;
    transition: 1s ease;
    rotate: 270Deg;

}

.overlay32:hover img {

    transform: scale(1.1, 1.1);
}

.heading8 h5 {
    position: relative;
    bottom: 20px;
    left: 4px;

    font-family: rihan;
    font-size: 20px;
    letter-spacing: 5px;
}

.heading8 h3 {

    position: relative;
    bottom: 45px;
    left: 4px;
    font-family: go;

}

.heading8 span {

    position: relative;
    bottom: 45px;
    left: 4px;
    font-size: 25px;
    font-family: rihan;
    text-align: center;
    justify-content: center;
    font-size: 21px;
}

.overlay33 {

    border: 2px solid black;
    width: 260px;
    justify-content: center;
    overflow: hidden;
    height: 500px;
    background-color: rgb(255, 255, 255);





}

.overlay33 img {

    height: 250px;
    width: 260px;
    transition: 1s ease;

}

.overlay33:hover img {

    transform: scale(1.1, 1.1);
}

.heading9 h5 {
    position: relative;
    bottom: 20px;
    left: 4px;

    font-family: rihan;
    font-size: 20px;
    letter-spacing: 5px;
}

.heading9 h3 {

    position: relative;
    bottom: 45px;
    left: 4px;
    font-family: go;

}

.heading9 span {

    position: relative;
    bottom: 45px;
    left: 4px;
    font-size: 25px;
    font-family: rihan;
    text-align: center;
    justify-content: center;
    font-size: 21px;
}

.bg1 {

    background-image: url(imge/GIFS/222855.gif);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* top: 46.3px; */
    /* width: 200%; */
    /* margin-right: 14px; */
    width: 100%;
    height: auto;
}

.parrent-form {

    display: flex;
    margin-left: 48px;
    position: relative;
    margin-bottom: 90px;
    




}

.child-form h2 {

    color: white;
    font-size: 40px;
    font-family: Doctor;
    -webkit-text-stroke-color: rgb(245, 230, 230);
    -webkit-text-stroke-width: 1px;
    background: linear-gradient(to right, rgb(63, 58, 58), rgb(255, 2, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;




}

.child-form {
    position: absolute;
    right: 0px;
}

.child-form input {
    background: transparent;
    color: white;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #ffffff;
    width: 189px;
    padding-bottom: 14px;
    margin-bottom: 50px;
    margin-right: 50px;
    outline: none;






}

.child-form input:hover {
    border-bottom: 1px solid rgb(255, 4, 4);


}

.child-form button {

    border-radius: 30rem;
    height: 50px;
    width: 150px;
    background-image: url(imge/GIFS/demon4.gif);
    object-fit: cover;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: go;
    font-size: 19px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.child-form textarea {

    height: 150px;
    width: 50%;
    box-sizing: border-box;
    font-size: 16px;
    background: transparent;
    outline: none;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: lato;
    transition: 0.5s ease;
    border: none;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;



}

.child-text3 pre {
    color: #ffffff;
    font-size: 25px;

}

.child-text3 pre {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: rihan;
    letter-spacing: 1px;
    position: relative;
    right: 207px;
    top: 60px;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;


}

.child-text3 h5 {

    color: #ffffff;
    font-family: rihan;
    font-size: 25px;
    letter-spacing: 18px;
}

.child-text3 h2 {

    color: #000000;
    font-family: Doctor;
    font-size: 40px;
    -webkit-text-stroke: #ffffff 1px;
    position: absolute;
    top: 45px;

}

.child-text3 h4 {

    color: white;
    position: absolute;
    top: 120px;
    font-family: ms;
    background: linear-gradient(to right, rgb(255, 4, 247), rgb(255, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: #ffffff 1px;
    font-size: 25px;
}

.parent-footer {
    display: block;


}

.footer {

    background-color: skyblue;
    width: 100%;
    height: 200px;
    position: fixed;
    left: 0;
    bottom: 0;
    position: relative;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    place-items: center;



}

.banner7 h3 {
    position: absolute;
    left: 48px;
    font-family: rihan;
    font-size: 25px;


}

.banner7 h2 {
    position: absolute;

    top: 10px;
    font-family: urban;
    font-size: 40px;
}

.banner7 h4 {
    letter-spacing: 15px;
    font-family: rihan;
    font-size: 28px;
    position: absolute;
    /* right: 528px; */
    /* top: 59px; */
}

.banner7 img {


    position: relative;
    left: 300px;
    /* float: right; */
}
#parnet-conatiner{
    display: flex;
    width: 100%;
    /* position: relative; */
}
.child-black{
  
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.95);
    width: 25%;
    height:100%;    
    position: fixed;
    /* left: 0; */
    /* float: left; */
    text-align: center;
    font-family: Doctor;
    -webkit-text-stroke: rgb(255, 0, 0) 1px;
    text-shadow:2px 2px #ffffff;
    text-shadow: rgb(255, 255, 255) 0 0 20px;
    line-height: 0%;
    
}
.child-black h4{
    text-align: center;
    text-shadow: rgb(255, 255, 255) 0 0 20px;
    font-family: rihan;
    letter-spacing: 8px;
    color: #ffffff;
    -webkit-text-stroke: rgb(255, 255, 255) 1px;
    margin: 0%;
    line-height: 0%;
    
    
    
    




}
.child-main-contain{
    width: 75%;
    position: absolute;
    right: 0;
    /* float: right; */
    height: auto;
    
    
}

